# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
/gradle/
/WebDriver/.allure/
/WebDriver/allure-reports/
/WebDriver/allure-results/
/WebDriver/target/
